################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.exe
*.obj
*.iobj
*.res
*.tlog
*.log
*.pdb
*.ipdb
*-sign.out
*.ilk
*.vcxproj.user
Release/
Debug/
